/* Variáveis Globais */
:root {
  --font-primary: 'Century Gothic', Arial, sans-serif;
  --primary-color: #2e8b57;
  --white-color: rgba(255, 255, 255, 1);
  --background-overlay: rgba(255, 255, 255, 0.085);
  --background_input: rgba(217, 217, 217, 0.29);
  --text-color: #ffe5ff;
  --text-color_branco_transp: rgba(255, 255, 255, 0.7);
  --text-color_vd: rgba(0, 129, 113, 1);
  --button-bg: pink;
  --color_pink: rgba(255, 223, 255, 1);
}

/* Importando Fontes */
@font-face {
  font-family: 'CustomFont';
  src: url('/assets/fonts/CustomFont.woff2') format('woff2'),
    url('/assets/fonts/CustomFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

/* Estilo Geral */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.login {
  background: url('/assets/images/background.svg') no-repeat center center;
  background-size: cover;
}

/* Container Central */
.container {
  background: var(--background-overlay);
  padding: 69px clamp(50px, 10vw, 216px);
  border-radius: 24px;
  text-align: center;
  backdrop-filter: blur(10px);

  width: 60%;
  min-width: 400px;
  max-width: 849px;

  height: 60%;
}

.cont_login {
  min-height: 603px;
  max-height: 603px;
}

.cont_cad {
  min-height: 737px;
  max-height: 737px;
  margin: 60px 0px 60px 0px;
}

/* Tipografia */
h2,
p {
  color: var(--text-color);
  font-size: 32.64px;
}

h2 {
  margin-bottom: 22px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 700; /* Bold */
}

p {
  margin-bottom: 80px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 300;
}

/* Campos de Entrada */
.dados_login {
  margin-bottom: 24px;
  width: 100%;
  height: 49px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--background_input);
  color: var(--text-color_branco_transp);
  font-size: 13.53px;
}

/* "Manter Conectado" */
.options {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  color: var(--white-color);
  margin-bottom: 51px;
}

input[type='checkbox']#manterConectado {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white-color);
  border-radius: 2px;
  margin-right: 5px;
  background-color: transparent;
  cursor: pointer;
}

input[type='checkbox']#manterConectado:checked {
  background-color: var(--white-color);
}

label {
  width: 280px;
}

/* Esqueci a Senha */
.forgot {
  display: block;
  text-align: left;
  color: var(--white-color);
  font-size: 11.14px;
  margin-bottom: 20px;
}

/* Botões */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.bt_transp {
  margin-right: 20px;
  border: 1px solid var(--color_pink);
  border-radius: 8px;
  background-color: #f4f4f400;
  color: var(--white-color);
  height: 37px;
  width: 50%;  
}

.bt_back_rosa {
  border: 1px solid var(--color_pink);
  border-radius: 8px;
  background-color: var(--color_pink);
  height: 36px;
  color: var(--text-color_vd);
  width: 50%;
  
}

.bt_criar_conta{
  min-width: 115px;
  max-width: 115px;
}

.bt_login{
  min-width: 155px;
  max-width: 268px;
}

.bt_tenho_conta{
  min-width: 133px; 
  max-width: 133px;
}

.bt_cadastrar{
  /* min-width: 250px; */
  max-width: 250px; 
}

.buttons_cad{  
  padding-top:27px;
}

.bt_cadastro {
  margin-top: 27px;
}

/* ----- Estilos da Página Principal ----- */
body.main {
  display: flex;
  height: 100vh;
  background: var(--main-secondary);
}

/* Barra Lateral */
.sidebar {
  width: 80px;
  background: var(--sidebar-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

/* Ícone do Usuário */
.user-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 20px;
}

/* Ícones do Menu */
.menu-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Conteúdo Principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Barra Superior */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
}

/* Barra de Pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  padding: 5px;
  border: 1px solid var(--main-primary);
  border-radius: 5px;
}

/* Botão de Adicionar */
.add-button {
  background: var(--main-primary);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Área de Conteúdo */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 24px;
  color: var(--text-color);
}


/* modal recuperar senha */
.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/background.svg') no-repeat center center;
  background-size:auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 100%;
  height: 100%;
  background: var(--background-overlay);
}

.close{
  font-size: 26px;
}

.tit_recuperar{
  font-size: 20px;
}

.txt_recuperar{
  font-size: 16px;
}

